<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quản lý đơn hàng</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/adminx.css"
          media="screen"/>
</head>
<body>
<div class="adminx-container">
    <th:block th:replace="admin/admin-fragments::header-sidebar"></th:block>
    <!-- Main Content -->
    <div class="adminx-content">
        <div class="adminx-main-content">
            <div class="container-fluid">
                <!-- BreadCrumb -->
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb adminx-page-breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="#">Quản lý đơn hàng</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Bảng</li>
                    </ol>
                </nav>
                <div class="pb-3">
                    <h1>Doanh mục</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card mb-grid">
                            <div class="table-responsive-md">
                                <table class="table table-actions table-striped table-hover mb-0" data-table>
                                    <thead>
                                    <tr>
                                        <th scope="col">

                                            <label class="custom-control custom-checkbox m-0 p-0">
                                                <input type="checkbox" class="custom-control-input table-select-all">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </th>
                                        <th scope="col">ORDER ID</th>
                                        <th scope="col">USER ID</th>
                                        <th scope="col">CREATE DATE</th>
                                        <th scope="col">SHIPPING PRICE</th>
                                        <th scope="col">TOTAL PRICE</th>
                                        <th scope="col">STATUS</th>
                                        <th scope="col">ACTION</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="o : ${ordersList}">
                                        <tr>
                                            <th scope="row">
                                                <label class="custom-control custom-checkbox m-0 p-0">
                                                    <input type="checkbox"
                                                           class="custom-control-input table-select-row">
                                                    <span class="custom-control-indicator"></span>
                                                </label>
                                            </th>
                                            <td th:text="${o.orderId}"></td>
                                            <td th:text="${o.getUser().getUserId()}"></td>
                                            <td th:text="${o.createDate}"></td>
<!--                                            <td th:text="${o.updateDate}"></td>-->
                                            <td th:text="${o.shippingPrice}"></td>
                                            <td th:text="${o.totalPrice}"></td>
                                            <td th:if="${o.status == 1}" th:text="NOT_CONFIRM"></td>
                                            <td th:if="${o.status == 2}" th:text="CONFIRM"></td>
                                            <td th:if="${o.status == 3}" th:text="DELIVERY"></td>
                                            <td th:if="${o.status == 4}" th:text="COMPLETED"></td>
                                            <td th:if="${o.status == 0}" th:text="CANCEL"></td>
                                            <td th:if="${o.status == 2 or o.status ==3}">
                                                <a class="btn btn-sm btn-primary"
                                                   th:href="@{/admin/don-hang/chinh-sua/{id}(id=${o.getOrderId()})} ">FINISH ORDER</a>
                                            </td>
                                            <td th:if="${o.status != 2 and o.status !=3}">NO ACTION</td>
                                        </tr>
                                    </th:block>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // Main Content -->
</div>


<th:block th:replace="admin/admin-fragments::script-table"></th:block>

<script>
    $(document).ready(function () {
        var table = $('[data-table]').DataTable({
            "columns": [
                null,
                null,
                null,
                null,
                null,
                null,
                {"orderable": false}
            ]
        });

        /* $('.form-control-search').keyup(function(){
          table.search($(this).val()).draw() ;
        }); */
    });
</script>


</body>
</html>