
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Quản lý sản phẩm - Laptipe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="#">
    <link rel="stylesheet" type="text/css" href="/admin/css/adminx.css"
          media="screen"/>
</head>
<body>
<div class="adminx-container">

    <c:import url="vendor-header.jsp"></c:import>

    <!-- Main Content -->
    <div class="adminx-content">
        <div class="adminx-main-content">
            <div class="container-fluid">
                <!-- BreadCrumb -->
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb adminx-page-breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="#">Quản lý nhân viên</a></li>
                        <li class="breadcrumb-item active  aria-current=" page
                        ">Bảng</li>
                    </ol>
                </nav>
                <div class="pb-3">
                    <h1>Tất cả các đơn hàng</h1>
                </div>
                <div class="row mt-lg-auto">
                    <div class="col-lg-8">
                        <input id="email" type="email">
                    </div>
                    <div class="col-lg-4">
                        <button id="add-btn" class="btn btn-success">Thêm nhân viên</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card mb-grid">
                            <div class="table-responsive-md">
                                <table class="table table-actions table-striped table-hover mb-0" data-table>
                                    <thead>
                                    <tr>
                                        <th scope="col">

                                            <label class="custom-control custom-checkbox m-0 p-0">
                                                <input type="checkbox" class="custom-control-input table-select-all">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </th>
                                        <th scope="col">ID</th>
                                        <th scope="col">Tên nhân viên</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col">Chức năng</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <c:forEach items="${users}" var="u">
                                        <tr>
                                            <th scope="row">
                                                <label class="custom-control custom-checkbox m-0 p-0">
                                                    <input type="checkbox"
                                                           class="custom-control-input table-select-row">
                                                    <span class="custom-control-indicator"></span>
                                                </label>
                                            </th>
                                            <td>
                                                    ${u.userId}
                                            </td>
                                            <td>${u.lastname}</td>
                                            <td>${u.email}</td>
                                            <td>${u.phone}</td>
                                            <c:if test="${u.roleId eq 5}">
                                                <td>
                                                    <span class="badge badge-pill badge-primary">Cộng tác</span>
                                                </td>
                                            </c:if>
                                            <td>
                                                <a id="remove" class="btn btn-sm btn-primary"
                                                   data-id="${u.userId}">Xóa</a>
                                            </td>
                                        </tr>
                                    </c:forEach>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // Main Content -->
</div>

<!-- If you prefer jQuery these are the required scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="${pageContext.request.contextPath}/view/vendor/assets/js/vendor.js"></script>
<script src="${pageContext.request.contextPath}/view/vendor/assets/js/adminx.js"></script>
<script>
    $(document).ready(function () {
        var table = $('[data-table]').DataTable({
            "columns": [
                null,
                null,
                null,
                null,
                null,
                null,
                {"orderable": false}
            ]
        });

        /* $('.form-control-search').keyup(function(){
          table.search($(this).val()).draw() ;
        }); */
    });
    $('#add-btn').click(function (e) {
        let email = $('#email').val();

        if (email.length!=0) {
            $.ajax({
                url: 'emp-add',
                method: 'post',
                data: {'email': email},
                error: function (data) {
                    alert("Không tìm thấy email, thêm thất bại")
                },
                success: function () {
                    location.reload();
                }
            })
        }
    })
    $('#remove').click(function (e) {
        let userId = $('#remove').data("id");
        $.ajax({
            url: 'emp-remove',
            method: 'post',
            data: {'userId': userId},
            error: function (data) {
                alert("Xoá nhân viên thất bại")
            },
            success: function () {
                location.reload();
            }
        })

    })
</script>

<!-- If you prefer vanilla JS these are the only required scripts -->
<!-- script src="assets/js/vendor.js"></script>
<script src="assets/js/adminx.vanilla.js"></script-->
</body>
</html>