<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <title id="pageTitle">Tạo phiên đấu giá</title>
    <th:block th:replace="fragments :: head">
    </th:block>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

</head>
<body>

<header th:replace="fragments :: header">

</header>


<main class="site-main">
    <section style="background-color: #fff; font-size: 18px;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                            <!-- <li class="breadcrumb-item"><a href="#">User</a></li> -->
                            <li class="breadcrumb-item active" aria-current="page">Tạo phiên đấu giá</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="container mb-lg-5">
                <form class="ui form ">
                    <div class="row form-create-auction">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Tên sản phẩm</label>
                                        <input class="form-control" type="text" id="productKey"
                                               placeholder="Tên sản phẩm" required>
                                    </div>
                                </div>
                                <div class="col">
                                    <label>Tên doanh mục</label>
                                    <div class="dropdown">
                                        <select class="form-select ui selection dropdown"
                                                aria-label="" id="categoryId">
                                            <th:block th:each="c:${categories}">
                                                <option th:value="${c.categoryId}" th:text="${c.categoryName}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Ngày bắt đầu</label>
                                    <div class="form-group">
                                        <input id="date-input" onchange="showdate()" type="date" name="datetime"
                                               value="dd/mm/yyyy"
                                               class="datepicker" required>
                                    </div>
                                </div>
                                <div class="col">
                                    <label>Giờ bắt đầu</label>
                                    <div class="dropdown">
                                        Được bắt đầu tính khi phiên đấu giá tạo thành công
                                    </div>
                                </div>
                                <div class="col">
                                    <label>Ngày kết thúc</label>
                                    <div class="dropdown">
                                        <select id="date-end" onchange="showResult()" class="form-select ui dropdown"
                                                aria-label=""
                                                name="date-end" required>
                                            <option value="2">2 Ngày</option>
                                            <option value="3">3 Ngày</option>
                                            <option value="4">4 Ngày</option>
                                            <option value="5">5 Ngày</option>
                                            <option value="6">6 Ngày</option>
                                            <option value="7">7 Ngày</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <label>Hiển thị ngày kết thúc đã chọn: </label>
                                    <div>
                                        <p id="output-show"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Giá mong muốn</label>
                                        <input id="reservePrice" class="form-control" type="text" required
                                               placeholder="Giá tiền đ">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <div class="form-group">
                                        <label>Mô tả người dùng</label>
                                        <textarea id="description" class="form-control" rows="5"
                                                  placeholder="Mô tả yêu cầu chất lượng của sản phẩm"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Thêm hashtag</label>
                                        <select class="ui fluid search dropdown" id="hagtag">
                                            <th:block th:each="tag :${tags}">
                                                <option th:value="${tag.name}" th:text="${tag.name}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">Thêm hình ảnh minh họa sản phẩm</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row center-row">
                                <form id="upload-image" enctype="multipart/form-data">
                                    <input name="img" type="file" id="file-input" onchange="preview()"
                                           multiple>
                                    <label for="file-input" class="input-file"><i class="ti-upload"></i>Chọn hình
                                        ảnh</label>
                                </form>

                            </div>
                            <div class="row">
                                <div id="images">
                                    Không có hình ảnh ...
                                </div>
                            </div>
                            <div class="row mt-lg-2">
                                <div class="col form-check">
                                    <div class="ui toggle checkbox">
                                        <input type="checkbox" id="auto_enable">
                                        <label>Cho phép hệ thống tự động ghép các sản phẩm phù hợp</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mt-2">
                                    <a class="btn btn-primary btn-create" id="submit-auction">
                                        <span>Tạo sàn đấu giá</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<!--================ Start footer Area  =================-->
<footer th:replace="fragments :: footer">
    <!--================ End footer Area  =================-->
</footer>
<th:block th:replace="fragments :: js_block">
</th:block>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script th:src="@{/js/app.js}"></script>

<script>

    let fileInput = document.getElementById("file-input");
    let imgContainer = document.getElementById("images");

    function preview() {
        imgContainer.innerHTML = "";

        for (i of fileInput.files) {
            let reader = new FileReader();
            let figure = document.createElement("figure");
            let figcap = document.createElement("figcaption");
            figcap.innerText = i.name;
            figure.appendChild(figcap);
            reader.onload = () => {
                let img = document.createElement("img");
                img.setAttribute("src", reader.result);
                figure.insertBefore(img, figcap);
            }
            imgContainer.appendChild(figure);
            reader.readAsDataURL(i);
        }
    }

    $(document).ready(function () {
        let today = new Date().toISOString().slice(0, 10);
        $('#date-input').attr('min', today)
        $('#date-input').attr('value', today)
    })

    var dateInput = document.getElementById("date-input");
    var getDateTime = document.getElementById("date-end");
    var result = document.getElementById("output-show");

    Date.prototype.addDays = function (days) {
        var date = new Date(this.valueOf());
        date.setDate(date.getDate() + days);
        return date;
    }

    function showdate() {
        var newDate = new Date(dateInput.value);
        if (getDateTime.value == null)
            result.innerHTML = newDate.getDate() + '-' + (newDate.getMonth() + 1) + '-' + newDate.getFullYear();
        else
            showResult()
    }

    function showDateTime() {
        var output = dateInput.value;
        result.innerHTML = output;
    }

    function dateOutput(date, days) {
        var newDate = new Date(date);
        var result = newDate.addDays(Number(days));
        var date = result.getDate() + '-' + (result.getMonth() + 1) + '-' + result.getFullYear();
        return date;
    }

    function showResult() {
        var output = dateOutput(dateInput.value, getDateTime.value);
        result.innerHTML = output;
    }

    $('.ui.dropdown').dropdown();

</script>
</body>
</html>