<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments :: head">
  </th:block>
  <title id="pageTitle">Đăng nhập</title>
</head>
<body>
<!--================ Start Header Menu Area =================-->
<header th:replace="fragments :: header">

</header>

<!-- ================ start checkout detail area ================= -->

<main class="site-main">
  <section style="background-color: #eee;">
    <div class="container">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
              <!-- <li class="breadcrumb-item"><a href="#">User</a></li> -->
              <li class="breadcrumb-item active" aria-current="page">Chi tiết đơn hàng</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row flex-lg-nowrap">
        <div class="container py-5 h-100 checkout-check">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
              <div class="card card-registration card-registration-2" style="border-radius: 5px;">
                <div class="card-body p-0">
                  <div class="row g-0">

                    <div class="p-5">
                      <div class="d-flex justify-content-between align-items-center mb-5">
                        <h1 class="fw-bold mb-0 text-black checkout-detail-label">Thông tin chi tiết đơn hàng</h1>
                      </div>
                      <!-- <hr class="my-4">    -->
                      <h3 class="fw-bold text-black prod-info">Thông tin sản phẩm</h3>
                      <div class="row mb-4 d-flex justify-content-between align-items-center">
                        <h6 class="text-muted">ID: 333</h6>
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <img
                                  src="./img/category/s-p1.jpg"
                                  class="img-fluid rounded-3" alt="Cotton T-shirt">
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <h6 class="text-muted">Doanh mục: Shirt</h6>
                          <h6 class="text-black mb-0">Tên sản phẩm: Cotton T-shirt</h6>
                        </div>
                        <!-- <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                        </div> -->
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h6 class="mb-0">Giá: 44.000đ</h6>
                        </div>
                      </div>
                      <hr class="my-4">
                      <h3 class="fw-bold mb-0 text-black">Thông tin Hoá đơn</h3>
                      <div class="table-responsive table-price">
                        <table class="table ">
                          <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Loại giao dịch</th>
                            <th scope="col">Số tiền</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td>
                              <p>111</p>
                            </td>
                            <td>
                              <h5>Giá sản phẩm</h5>
                            </td>
                            <td>
                              <p>$720.00</p>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <p>112</p>
                            </td>
                            <td>
                              <h5>Giá vận chuyển</h5>
                            </td>
                            <td>
                              <p>$720.00</p>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <p></p>
                            </td>
                            <td>
                              <h5>Tổng tiền</h5>
                            </td>
                            <td>
                              <p>$720.00</p>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                      <hr class="my-4">
                      <h3 class="fw-bold mb-0 text-black">Địa chỉ nhận hàng</h3>
                      <div class="row row-addr">
                        <div class="col ">
                          <h5 class="mb-3">Họ tên người nhận: Nguyễn Văn A</h5>
                          <h5 class="mb-3">Trạng thái: Đã chuyển</h5>
                        </div>
                        <div class="col">
                          <h5 class="mb-3">Số điện thoại: 123456789</h5>
                        </div>
                      </div>
                      <div class="row address">
                        <h5 class="mb-3">Địa chỉ nhận hàng: 134, ấp long hưng, xã Long Chánh, TX GC, TG</h5>
                      </div>
                      <!-- <hr class="my-4"> -->
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- ================ end checkout detail area ================= -->

<footer th:replace="fragments :: footer">
  <!--================ End footer Area  =================-->
</footer>
<th:block th:replace="fragments :: js_block">
</th:block>
</body>
</html>