<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:replace="fragments :: head">
    </th:block>
    <title id="pageTitle">Tạo phiên đấu giá</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<!--================ Start Header Menu Area =================-->
<header th:replace="fragments :: header">

</header>
<!--================ End Header Menu Area =================-->

<main class="site-main">

    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                            <!-- <li class="breadcrumb-item"><a href="#">User</a></li> -->
                            <li class="breadcrumb-item active" aria-current="page">Tạo phiên đấu giá</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="container">
                <div class="row flex-lg-nowrap">
                    <div class="col">
                        <div class="row">
                            <div class="col mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="e-profile">
                                            <div class="tab-content pt-3">
                                                <div class="tab-pane active">
                                                    <form class="form" novalidate="">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Tên sản phẩm</label>
                                                                            <input class="form-control" type="text"
                                                                                   name="name" required
                                                                                   value="Trần Tiến Đạt">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <label>Tên doanh mục</label>
                                                                        <div class="dropdown">
                                                                            <select class="form-select" aria-label="">
                                                                                <option selected>Chọn doanh mục</option>
                                                                                <option value="1">Chó</option>
                                                                                <option value="2">Mèo</option>
                                                                                <option value="3">Gà</option>
                                                                                <option value="4">Heo</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <label>Ngày bắt đầu</label>
                                                                        <div class="form-group">
                                                                            <input type="date" name="datetime"
                                                                                   value="dd/mm/yyyy">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <label>Ngày hết phiên</label>
                                                                        <div class="form-group">
                                                                            <input type="date" name="datetime"
                                                                                   value="dd/mm/yyyy">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Giá mong muốn</label>
                                                                            <input class="form-control" type="text"
                                                                                   name="text" required
                                                                                   value="100.000.000đ">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Giá chốt</label>
                                                                            <input class="form-control" type="text"
                                                                                   name="text" required
                                                                                   value="100.000.000đ">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col mb-3">
                                                                        <div class="form-group">
                                                                            <label>Mô tả người dùng</label>
                                                                            <textarea class="form-control" rows="5"
                                                                                      placeholder="">Full Stack Developer</textarea>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>Thêm hashtag</label>
                                                                            <textarea class="form-control" rows="3"
                                                                                      placeholder="">...</textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">
                                                                                Thêm hình ảnh sản phẩm</h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row center-row">
                                                                    <input type="file" id="file-input"
                                                                           onchange="preview()"
                                                                           accept="image/png, image/jpg" multiple>
                                                                    <label for="file-input" class="input-file"><i
                                                                            class="ti-upload"></i>Chọn hình ảnh</label>
                                                                </div>
                                                                <div class="row">
                                                                    <div id="images">
                                                                        Không có hình ảnh ...
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col check-btn">
                                                                        <label>Bạn có muốn tự tham gia phiên?</label>
                                                                        <div class="form-group">
                                                                            <input type="radio" id="yes"
                                                                                   name="radius-btn" value="yes">
                                                                            <label for="yes">Có</label><br>
                                                                            <input type="radio" id="no"
                                                                                   name="radius-btn" value="no">
                                                                            <label for="no">Không</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="mt-2">
                                                                        <button class="btn btn-primary btn-create"
                                                                                type="button">
                                                                            <span>Tạo sàn đấu giá</span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>


<!--================ Start footer Area  =================-->
<footer th:replace="fragments :: footer">
    <!--================ End footer Area  =================-->
</footer>
<th:block th:replace="fragments :: js_block">
</th:block>
<script>
    let fileInput = document.getElementById("file-input");
    let imgContainer = document.getElementById("images");

    function preview() {
        imgContainer.innerHTML = "";

        for (i of fileInput.files) {
            let reader = new FileReader();
            let figure = document.createElement("figure");
            let figcap = document.createElement("figcaption");
            figcap.innerText = i.name;
            figure.appendChild(figcap);
            reader.onload = () => {
                let img = document.createElement("img");
                img.setAttribute("src", reader.result);
                figure.insertBefore(img, figcap);
            }
            imgContainer.appendChild(figure);
            reader.readAsDataURL(i);
        }
    }


</script>
</body>
</html>