<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Quên mật khẩu</title>
    <th:block th:insert="fragments::head"></th:block>
</head>
<body>
<!-- ================ Start Header Menu Area =================-->
<header th:replace="fragments::header" class="header_area">

</header>


<!--================Tracking Box Area =================-->
<section class="tracking_box_area section-margin--small">
    <div class="container">
        <div class="tracking_box_inner">
            <h4>Nhập vào địa chỉ email tài khoản của bạn vào bên dưới</h4>
            <div class="col-md-12 form-group mt-5">
                <input id="forgot-pass-input" type="email" class="form-control" name="email"
                       placeholder="Địa chỉ email đăng ký tài khoản">
            </div>
            <div class="col-md-12 form-group">
                <button id="forgot-pass-btn" value="submit" class="button button-tracking">Tìm tài khoản</button>
            </div>
        </div>
    </div>
</section>
<!--================End Tracking Box Area =================-->


<th:block th:insert="fragments::js_block"></th:block>
</body>
</html>