<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: head">
    </th:block>
    <title id="pageTitle">Thông tin tài khoản</title>
</head>
<body>

<header th:replace="fragments :: header">

</header>

<main class="site-main">
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="/trang-chu">Trang chủ</a></li>
                            <!-- <li class="breadcrumb-item"><a href="#">User</a></li> -->
                            <li class="breadcrumb-item active" aria-current="page">Thông tin người dùng</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png"
                                 alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3" th:text="${user.lastName}"></h5>
                            <p class="text-muted mb-1"
                               th:text="${#strings.substring(user.roleByRoleId.name,5,user.roleByRoleId.name.length())}"></p>
                            <p class="text-muted mb-4">Việt Nam</p>
                            <div class="d-flex justify-content-center mb-2">
                                <a th:href="@{/tai-khoan/chinh-sua}" type="button"
                                   class="btn btn-primary">Chỉnh sửa thông tin</a>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush rounded-3">
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fa fa-globe fa-lg text-warning"></i>
                                    <p class="mb-0" th:inline="text">Cấp [[${user.getLevelUser()}]]</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fa fa-solid fa-store text-success"></i>
                                    <a th:if="${user.roleByRoleId.roleId == 2}" class="mb-0" href="/supplier/">Cửa
                                        hàng</a>
                                    <a th:if="${user.roleByRoleId.roleId == 3}" class="mb-0"
                                       href="/tai-khoan/dang-ky-nha-cung-cap">Đăng ký nhà cung cấp</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fa fa-solid fa-wallet text-danger"></i>
                                    <a class="mb-0" href="/tai-khoan/quan-ly-vi">Ví tiền</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Tên đầy đủ</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" th:text="${user.lastName + ' ' +user.firstName}"></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" th:text="${user.email}"></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Điện thoại</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" th:text="${user.phoneNumber}"></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Ngày bắt đầu</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" th:text="${user.createDate}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-2">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h6>Danh sách địa chỉ</h6>
                                        </div>
                                        <div class="col-sm-4 flex d-flex  justify-content-end">
                                            <a class="btn btn-info text-white" data-toggle="modal"
                                               data-target="#exampleModal">Thêm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--LIST-->
                        <th:block th:if="${user.getUserAddressesByUserId().size()>0}"
                                  th:each="add:${user.getUserAddressesByUserId()}">
                            <div class="col-md-12">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Địa chỉ:</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" th:text="${add.addressDetail}"></p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Quốc gia:</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">Việt Nam</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Modal -->
<form method="post" action="/tai-khoan/them-dia-chi">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm địa chỉ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="country">Quốc gia</label>
                        <input name="country" type="text" class="form-control" id="country" value="Việt Nam" readonly>
                    </div>
                    <div class="form-group">
                        <label for="city">Thành phố</label>
                        <input name="city" type="text" class="form-control" id="city" value="Thành Phố Hồ Chí Minh"
                               readonly>
                    </div>

                    <div class="form-group">
                        <label for="district">Chọn quận</label>
                        <select name="district" class="form-control" id="district" required>
                            <option value="1">Quận 1</option>
                            <option value="2">Quận 2</option>
                            <option value="3">Quận 3</option>
                            <option value="4">Quận 4</option>
                            <option value="5">Quận 5</option>
                            <option value="6">Quận 6</option>
                            <option value="7">Quận 7</option>
                            <option value="8">Quận 8</option>
                            <option value="9">Tp. Thủ Đức</option>
                            <option value="10">Quận 10</option>
                            <option value="11">Quận 11</option>
                            <option value="12">Quận 12</option>
                            <option value="13">Quận Bình Tân</option>
                            <option value="14">Quận Bình Thạnh</option>
                            <option value="15">Quận Gò Vấp</option>
                            <option value="16">Quận Phú Nhuận</option>
                            <option value="17">Quận Tân Bình</option>
                            <option value="18">Quận Tân Phú</option>
                            <option value="19">Quận Bình Chánh</option>
                            <option value="20">Quận Cần Giờ</option>
                            <option value="21">Quận Củ Chi</option>
                            <option value="22">Quận Hóc Môn</option>
                            <option value="23">Quận Nhà Bè</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="detail">Địa chỉ chi tiết</label>
                        <textarea name="addressDetail" class="form-control" id="detail"
                                  placeholder="VD: Số nhà, tên đường..." required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Thêm</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</form>


<!--================ Start footer Area  =================-->
<footer th:replace="fragments :: footer">
    <!--================ End footer Area  =================-->
</footer>
<th:block th:replace="fragments :: js_block">
</th:block>
</body>
</html>