<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments :: head">
	</th:block>
	<title id="pageTitle" th:text="${title}"></title>
</head>
<body>
<!-- ================ Start Header Menu Area =================-->
<header th:replace="fragments :: header">

</header>



<!--================Tracking Box Area =================-->
<section class="tracking_box_area section-margin--small">
	<div class="container">
		<div class="tracking_box_inner">
			<h1 th:text="${message}"></h1>
		</div>
		<div class="mt-5">
			<h4 th:text="${description}"></h4>
		</div>
		<div class="mt-5">
			<hr>
			<p>Quay lại <a href="/">trang chủ</a></p>
		</div>
	</div>
</section>
<!--================End Tracking Box Area =================-->

<script src="vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="vendors/skrollr.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="vendors/jquery.ajaxchimp.min.js"></script>
<script src="vendors/mail-script.js"></script>
<script src="js/main.js"></script>
</body>
</html>