<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:replace="fragments :: head">
    </th:block>
    <title id="pageTitle">Đặt lại mật khẩu</title>
</head>
<body>
<!-- ================ Start Header Menu Area =================-->
<header th:replace="fragments :: header">

</header>


<section class="login_box_area section-margin">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="login_form_inner register_form_inner">
                    <h3>Đặt lại mật khẩu mới</h3>
                    <form class="row login_form" th:action="@{/set-pass}" method="post" id="set-pass">
                        <div class="col-md-12 form-group">
                            <input name="token" th:value="${token}" type="text" class="form-control" placeholder="Email" hidden>
                        </div>
                        <div class="col-md-12 form-group">
                            <input name="password" type="password" class="form-control"
                                   placeholder="Mật khẩu mới"
                                   required>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" placeholder="Xác nhận lại mật khẩu" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="button button-register w-100">Xác nhận</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->


<footer th:replace="fragments :: footer">
    <!--================ End footer Area  =================-->
</footer>
<th:block th:replace="fragments :: js_block">
</th:block>
</body>
</html>